
footer {
  background-color: var(--grey);
}

footer a {
  color: var(--white)
}

footer h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 500;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  color: var(--white);
  padding: 10rem 2.4rem;
  flex-wrap: wrap;
  row-gap: 5rem;
}

.customer-service {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.customer-service > p {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .05rem;
}

.customer-service a p {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  transition: color .3s;
}

.customer-service a p:hover {
  color: var(--purple);
}

.contact-ways{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.fone, .email {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.4rem;
}

.fone svg {
  height: 1.2em;

}

.email svg {
  height: 1rem;
}

.usefull {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.usefull > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.usefull a {
  font-size: 1.4rem;
  font-weight: 400;
  transition: color .3s;
}

.usefull a:hover {
  color: var(--purple)
}

.payment-ways {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.payment-ways > div {
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.social-media-footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem
}

.social-media-footer > div {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-footer a svg path{
  transition: fill .3s;
}

.social-media-footer a:hover svg  path{
    fill: var(--purple)
}

@media (max-width: 770px) {
  .social-media-footer {
    padding-right: 4rem;
  }
}

@media (max-width: 550px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 5rem;
    row-gap: 3rem;
  }
}

.info-add {
  padding: .8rem 0;
  background-color: var(--black);
}

.info-add p {
  text-align: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
}
