:root{
  --white: #FFF;
  --black: #252525;
  --grey:  #535353;
  --purple: #707BB6;
  --red: #e41e04;
  --border-card: #696969;
  --light-border: #6867673f;
  font-size: 62.5%;
}

.container {
	display: flex;
	max-width: 1200px;
	padding-inline: 10px ;
	margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  position: relative;
}
