/*Geral*/

:root{
  --white: #FFF;
  --black: #252525;
  font-size: 62.5%;
}

.container {
	display: flex;
	max-width: 1420px;
	padding-inline: 10px ;
	margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* Header */

header {
font-size: 1.4rem;
color: var(--white);
background-color: var(--white);
}

.top-advise{
  margin: 0 auto;
  padding-block: .5rem
}

.top-advise p {
  margin: 0 auto;
  font-weight: 400;
  color: var(--black);
  font-size: 1rem;
}

.top-advise p span {
  font-weight: 600;
}

.header-wrapper{
background-color: var(--black);
}

.header-content {
  justify-content: space-between;
  padding-block: 1.6rem;
  padding-inline: 10px ;
  align-items: center;
}

.header-content form {
  display: flex;
  max-width: 60rem;
  flex-basis: 100%;
  position: relative;
}

.header-content form input {
	padding: 1rem;
	border: none;
  flex: 1;
  border-radius: .7rem;
	background: var(--white);
	font-size: 1.2rem;
	font-style: italic;
	font-family: 'Poppins', sans-serif;
}

.header-content form input:focus{
  outline: none;
}

.header-content form label {
	display: none;
}

.header-content button {
	background: none;
	border: none;
	cursor: pointer;
  position: absolute;
  right: 1rem;
  top: .7rem;
}

.logo-mnf {
  width: 27.5rem;
}

.logo-mnf img {
  width: 10rem;
  height: 4rem;
}

.options-list{
  display: flex;
  gap: .5rem;
  font-size: 1rem;
  font-weight: thin;
  align-items: center;
}

.options-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.options-item:nth-child(3) a {
  padding-top: 0px;
  margin-top: -5px;
}

.cart-qtd{
  width: 1.4rem;
  height: 1.4rem;
  background-color: #FFF;
   /* margin-top: 2rem; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-qtd p {
  color: var(--black);
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}

.options-item a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  padding: 1rem;
  font-weight: 400;
  text-align: center;
  gap: .5rem;
}

.options-item a img {
  width: 1.8rem;
  height: 1.8rem;
}

/* Sections */ 

.sections-options {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding-block: 1rem;
  border-bottom: 1px solid #00000027;
}

.sections-options a:has(img) {
  display: flex;
}

.sections-options a {
  display: block;
  color: var(--black);
  font-size: 1.4rem;
  padding:1rem ;
  transition:cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.sections-options a:hover {
  filter: opacity(80%);
}

/* Banner */ 

.banner-section {
  max-width: 100% ;
}

.banner-image {
  background: url('/img/banners/banner-1.jpg') no-repeat center center;
	background-size: auto;
	padding: 16rem 0;
  max-width: 100%;
  margin: 0 auto;
}

.slider {
  display: block;
  max-height: 100%;
  position: relative;
}

.arrow img {
  width: 5.2rem;
}

.arrow{
  position: absolute;
  z-index: 111;
  cursor: pointer;
  filter: opacity(30%);
  transition: .5s all;
}

.arrow:hover{
  filter: opacity(60%);
}

.arrow-left{
  left: 1.8rem;
  bottom: calc(50% - 2.4rem)
}

.arrow-right{
  right: 1.8rem;
  bottom: calc(50% - 2.4rem)
}


/* Products */
.products-section {
display: block;
flex-direction: column;
justify-content: flex-end;
padding-block: 5rem;
margin: 0 auto;

}

.products-section h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.4rem;
}

.products-section ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  row-gap: 5rem;
  flex-wrap: wrap;
} 

.products-section ul li  {
  color: var(--white);
  text-align: center;
}

.card-item{
  height: 56rem;
  width: 28.3rem;
  background-color: var(--black);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  cursor: pointer;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.466);
  transition: .6s all;
}

.card-item:hover {
  transform: scale(1.01);
}

.products-section ul li img {
  border-top-right-radius: 7px;
  border-top-left-radius: 1rem;
  max-width: 100%;
display: block;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
  padding: 1.2rem;
  padding-block: 1.8rem;
}

.card-info h3 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

.card-info p {
  font-size: 2.4rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.card-buttons{
  display: flex;
  justify-content: space-evenly;
  gap: 0;
}

.btn{
  padding: 1rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #fff;
  border-color: var(--white);
  border-radius: 1rem;
  transition: .4s all;
}

.btn:hover{
  background-color: var(--white);
  color: var(--black);
}

.btn:hover path {
  fill: black;

}

.card-buttons a{
  color: var(--white)
}