/*Geral*/

:root{
  --white: #FFF;
  --black: #252525;
  --purple: #707BB6;
  --red: #e41e04;
  font-size: 62.5%;
}

.container {
	display: flex;
	max-width: 1420px;
	padding-inline: 10px ;
	margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  position: relative;
}

/* Header */

header {
font-size: 1.4rem;
color: var(--white);
background-color: var(--white);

}

.top-advise{
  margin: 0 auto;
  padding-block: .5rem
}

.top-advise p {
  margin: 0 auto;
  font-weight: 400;
  color: var(--black);
  font-size: 1rem;
}

.top-advise p span {
  font-weight: 600;
}

.logo-mnf {
  max-width: 54.5rem;
  margin-left: 1rem;
  flex-basis: 38%;
}

.logo-mnf-mobile {
 display: none;
}

.logo-mnf img {
  width: 10rem;
  height: 4rem;
}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.header-wrapper{
background-color: var(--black);
}

.header-content {
  padding-block: 1.6rem;
  padding-inline: 10px ;
  align-items: center;
}

.flex-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:5rem;
}

.search {
  width: 100%;
}

.search-icon {
  margin-left: 90% ;
  display: none;
  align-items: center;
  cursor: pointer;
}

.search-icon svg {
  width: 3rem;
  height: 3rem;
}

.flex-header .search .search-bar {
  display: flex;
  position: relative;
}

.header-content .flex-header .search .search-bar input {
	padding: 1rem;
	border: none;
  border-radius: .7rem;
	background: var(--white);
	font-size: 1.2rem;
	font-style: italic;
	font-family: 'Poppins', sans-serif;
  flex-basis: 92%;
}

.header-content  .flex-header .search .search-bar input:focus{
  outline: none;
}

.header-content  .flex-header .search .search-bar label {
	display: none;
}

.header-content  .flex-header .search  .search-bar button {
	background: none;
	border: none;
	cursor: pointer;
  position: absolute;
  right: 7rem;
  top: .7rem;
}

.menu-nav{
  max-width: max-content;
}

.options-list{
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.options-item a span{
  width: 7.5rem;
}

.options-item:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.options-item:nth-child(3) a {
  padding-top: 0px;
  margin-top: -5px;
}

.options-item a:hover{
  filter: opacity(80%);
} 

.cart-qtd{
  width: 1.8rem;
  height: 1.8rem;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.cart-qtd p {
  color: var(--black);
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}

.options-item a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  padding: 1rem;
  font-weight: 400;
  text-align: center;
  gap: .5rem;
  transition: .3s all;
  width: 100%;
}

.options-item a img {
  width: 1.8rem;
  height: 1.8rem;
}

.mobile-nav {
  position: absolute;
  display: none;
}

@media(max-width: 1000px){
  .header-content  .flex-header .search  .search-bar input {
flex-basis: 100%;
  }

  .header-content  .flex-header .search  .search-bar button {
    right: 1.2rem;
  }

  .logo-mnf {
    margin-left: 1rem;
    flex-basis: 30%;
  }

  
.options-item a span{
  width: 100%;
}

.cart-qtd {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: .5rem;
}
  

}

@media(max-width: 720px){
 

  .header-content {
    padding-bottom: 3rem;
    flex-direction: column;
    max-width: 100%;
    gap:2rem;
  }

  .flex-header {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  .options-item:nth-child(2), .options-list li a span{
    display: none;
  }

  .options-list li a img {
    min-height: 2.8rem;
    min-width: 2.8rem;
  }

  .options-list li:nth-child(3) a {
    flex-basis: 100% ;
  }

  .options-list li:nth-child(3) a img {
    flex-shrink: 0;
  }

  .mobile-menu{
    display: flex;
    cursor: pointer;
  }

  .mobile-menu svg {
    
    width: 4.6rem;
    height: 4.6rem;
  }

 
  .flex-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.4rem;
  }
  
  .search {
    width: 100%;
  }
  
  .search-icon {
    margin-left: 90% ;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .search-icon svg {
    width: 3rem;
    height: 3rem;
  }
  
  .flex-header .search .search-bar {
    display: none;
    position: relative;
  }

  .cart-qtd {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0;
  }

}

@media(max-width: 400px){

  .search .search-bar {
    display: none;
  }
  

  .mobile-menu svg {
    width: 4rem;
  }
     
  .header-content button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: .7rem;
  }

  .header-content button img {
    width: 1.5rem;
  }

    .flex-header .search input {
      height: 3rem;
    }

  .menu-nav {
    display: none;
  }

  .mobile-nav {
    height: max-content;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 999;
    bottom: 0rem;
    background-color: #dbdbdb;
    box-shadow: -0px -1px 100px rgba(0, 0, 0, 0.61) ;
    border-top: 1px solid #00000015;
  }

  .mobile-nav ul li a span {
    display: flex;
  }

  .mobile-nav ul li:nth-child(2) {
    display: flex;
  }

  .mobile-nav ul li:nth-child(3) a span {
    margin: 0;
  }

  .cart-qtd {
    display: none;
  }

  .mobile-nav ul li a {
      display: flex;
      margin: 0;
      padding: 0;
      color: var(--black);
  }

  .mobile-nav li svg path {
    fill: var(--black)
  }

  .mobile-nav li svg {
    width: 2rem;
    height: 2rem;
  }

  .options-list {
    padding-block: .5rem ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 0;

  }
}

/* Sections */ 

.sections-options {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding-block: 1rem;
  border-bottom: 1px solid #00000027;
  max-width: 90rem;
  margin: 0 auto;
}

.options {
  display: flex;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}

.sections-options a:has(svg) {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.sections-options a {
  display: block;
  color: var(--black);
  font-size: 1.4rem;
  padding:1rem ;
  transition: .3s all;
}

.sections-options a:hover {
  filter: opacity(80%);
}

.sections-options .logo-mnf-mobile, .close-menu, .social-media-sections, .section-wrapper-mobile {
  display: none;
}

@media(max-width: 720px){

  .section-wrapper {
    display: none;
  }
  .section-wrapper-mobile {
    display: flex;
  }

  .section-wrapper-mobile .sections-options {
    position: fixed;
    left: -180%;
    top: 0;
    right: 40%;
    bottom: 0;
    z-index: 150;

    max-width: 100%;
    padding: 2.8rem 2.4rem 8rem;

    background-color: var(--black);

    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0rem;

    
    border-bottom: none;
    transition: .8s all;
  }

  .section-wrapper-mobile .options {
    display: block;
  }

  .section-wrapper-mobile .sections-options .options a {
    color: var(--white);
    font-size: 1.6rem;
    padding-left: 0;
    padding-block: 2rem ;
  }

  .section-wrapper-mobile .sections-options .options a svg path {
    fill: var(--white);
  }

  .section-wrapper-mobile .social-media-sections {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem
  }

  .section-wrapper-mobile .logo-mnf-mobile{
    display: block;
    width: 10rem;
    padding-left: 0;
  }

  .section-wrapper-mobile .close-menu {
    display: flex;
    position: absolute;
    bottom: 5rem;
    right: 1.6rem;
    cursor: pointer;
    opacity: 80%;
  }

  .section-wrapper-mobile .close-menu svg {
    width: 2.4rem;
    height: 2.4rem; 
  }
 
}

/* Banner */ 

.banner-section {
  max-width: 100% ;
}

.banner-image {
  background: url('/img/banners/banner-1.jpg') no-repeat center center;
	background-size: auto;
	padding: 16rem 0;
  max-width: 100%;
  margin: 0 auto;
}

.slider {
  display: block;
  max-height: 100%;
  position: relative;
}

.arrow img {
  width: 5.2rem;
}

.arrow{
  position: absolute;
  z-index: 111;
  cursor: pointer;
  filter: opacity(30%);
  transition: .5s all;
}

.arrow:hover{
  filter: opacity(60%);
}

.arrow-left{
  left: 1.8rem;
  bottom: calc(50% - 2.4rem)
}

.arrow-right{
  right: 1.8rem;
  bottom: calc(50% - 2.4rem)
}

@media(max-width: 720px){
  .banner-section {
    margin-top: 1.2rem;
  }
}


/* Products */

.products-section {
width: 100% ;
flex-direction: column;
gap: 0;
align-items: center;
margin: 0 auto;
padding-block: 3.4rem;
}

.products-section h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2.4rem;
}

.products-section ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  row-gap: 5rem;
  flex-wrap: wrap;
} 

.products-section ul li  {
  color: var(--white);
  text-align: center;
}

.card-item{
  border: 1px solid var(--black) ;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: box-shadow .5s;
}

.card-image {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  background: url('/img/mockups/471-camiseta-branca-chainsaw-man-denji1-6a916c829aa8435ea616751964782286-480-0.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	padding: 12rem 0rem;
  margin: 0 auto;
}

.card-item:hover {
  box-shadow: 1rem 1rem  #cc8708;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;
  padding: 1.2rem;
  padding-block: 1.8rem;
  position: relative;
}

.card-info h3 {
  color: var(--black);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}

.card-info p {
  font-size: 2.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: var(--black);
}

.card-info span {
  color: var(--black);
}

.favorite-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1.6rem;
  right: 1.6rem;
  /* border: 1px solid var(--black); */
  box-shadow: 1px 1px 10px var(--black);
  border-radius: 50%;
  padding: .4rem;
  background-color: var(--white);
}

.favorite-icon svg {
  width: 2.6rem;
  height: 2.6rem;
  transition: 1s all;
}

.favorite-icon svg:hover path {
  fill: var(--red);
}

.favorite-icon:hover{
  background-color: #fffffff3;
}

.btn{
  display: block;
  border-radius: 1rem;
  transition: .4s all;
  color: var(--white);
  background-color: var(--black);
  margin: 1rem auto 0;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.btn:hover{
  background-color: var(--purple);
  color: var(--white);
}

.btn:hover path {
  fill: var(--white);

}

@media(max-width: 950px){
  .card-info p {
    font-size: 1.6rem;
  }
  .card-item{
    max-height: 100%;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 18, 0.233) 44%, rgba(0, 0, 0, 0.76) 64%, rgba(3, 0, 0, 0.712) 100%);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: pointer;
    transition: .6s all;
  }

  .products-section ul {
    justify-content: ;
    max-width: 80%;
    gap: 2rem;
  }
}

@media(max-width: 815px) {
  .card-item{
    max-height: 50%;
    max-width: 50%;
    background: linear-gradient(180deg, rgba(17, 17, 18, 0.233) 44%, rgba(0, 0, 0, 0.76) 64%, rgba(3, 0, 0, 0.712) 100%);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: pointer;
    transition: .6s all;
  }

  .products-section ul {
    justify-content: space-between;
    max-width: 100%;
    row-gap: 5rem;
  }
}

@media(min-width: 300px) and (max-width: 650px){
  .card-item{
    max-height: 100%;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 18, 0.74) 44%, rgba(0, 0, 0, 0.966) 64%, rgba(3, 0, 0, 0.712) 100%);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: pointer;
    transition: .6s all;
  }

  .products-section ul {
    max-width: 60%;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-info h3 {
    padding-top: 1rem;
    font-size: 1rem;
  }
  
}